
/*---------- footer part--------------------  */
.smart-footer {
    /* background: #12151e; */
    background-color: #191d24;
    color: #cfcfcf;
    padding: 20px 0;
    text-align: center;
    font-size: 14px;
    border-top: 1px solid rgba(255, 255, 255, 0.08);
}

.footer-container {
    /* max-width: 1200px; */
    margin: auto;
    padding: 0 15px;
}

.smart-footer p {
    margin: 0;
}

.footer-social {
    margin-top: 8px;
}

.footer-social a {
    color: #cfcfcf;
    margin: 0 8px;
    font-size: 18px;
    transition: color 0.3s ease;
}

.footer-social a:hover {
    color: #00bcd4; 
}

/* ------------------------navebar style---------------------- */
#searchp{
    width: 150px !important;
}
#navsr{
     width: 150px !important;
}


/* ------------------------sidebar style---------------------- */

.nav-item{
    position: relative;
}
.nav-item ul{
    position: absolute;
    visibility: hidden;
    left: 60px;
    right: 0;
    padding: 0;
    width: 183px;
    z-index: 9999;
    background-color: #14181f;
    border-radius: 7px;
}
.nav-item ul li{
    list-style: none;
}
.nav-item ul li:hover{
    background-color: black;
    border-bottom-right-radius: 23px;
    border-top-right-radius: 23px;
    border-left: 3px solid #ff5400;
    
}
.nav-item ul li:hover a{
    color: #ff5400;
    font-weight: bold;
}
.nav-item ul li a{
    text-decoration: none;
    display: block;
    padding: 12px 0px 12px 8px;
    color: white;
}
.nav-item ul li a .sub-text{
    padding: 15px 0px;
}
#menuadd:hover #menuadd-sub{
    visibility: visible;
}
